body {
    margin-left: 100px;
    background-color:beige;
    font-size: 20px;
}

section {
    display: inline-block;
}
div {
    display: inline-block;
    margin-left: 100px;
    padding-bottom: 50px;
}
img {
    width: 200px;
}